<form method="POST" action="/">
<!--
    <label for="inputName">Name</label>
    <input type="text" id="inputName" name="foodname">

    <label for="inputfoodprotein">foodprotein</label>
    <input type="text" id="inputfoodprotein" name="foodprotein">

    <label for="inputfoodcals">foodcals</label>
    <input type="text" id="inputfoodcals" name="foodcals">

    <label for="inputfoodweight">foodweight</label>
    <input type="text" id="inputfoodweight" name="foodweight">

    <br>
-->
    <label for="inputextraprotein">extrafoodprotein</label>
    <input type="text" id="inputextraprotein" name="extraprotein">
    <br>
    <label for="inputextracals">extrafoodcals</label>
    <input type="text" id="inputextracals" name="extracals">

    <br>

    <label for="inputfoodprotein">1foodprotein</label>
    <input type="text" id="inputfoodprotein1" name="foodprotein1">
    <br>
    <label for="inputfoodcals">1foodcals</label>
    <input type="text" id="inputfoodcals1" name="foodcals1">
    <br>
    <label for="inputfoodweight">1foodweight</label>
    <input type="text" id="inputfoodweight1" name="foodweight1">

    <br>

    <label for="inputfoodprotein">2foodprotein</label>
    <input type="text" id="inputfoodprotein2" name="foodprotein2">
    <br>
    <label for="inputfoodcals">2foodcals</label>
    <input type="text" id="inputfoodcals2" name="foodcals2">
    <br>
    <label for="inputfoodweight">2foodweight</label>
    <input type="text" id="inputfoodweight2" name="foodweight2">
    <br>
    <input type="submit" value="submit">
</form>
